.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}
.header__p{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    & p{
        color: black;
        
    }
    & p:hover{
        color: blue;
    }
}
.header__i{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    & i{
        color: black;
    }
    & i:hover {
        color: blue;
    }
}
.none{
    text-decoration: none;
}