.mybtn{
    width: 130px;
}
.section2__hp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    & h1{
        font-size: 50px;
    }
    & p{
        font-size: 20px;
    }
}
.section2__div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    height: 100vh;
    flex-wrap: wrap;
}